:root {
  --dark-first: #27374d;
  --dark-second: #526d82;
  --dark-third: #9db2bf;
  --dark-fourth: #dde6ed;
  --dark-color-first: black;
  --dark-color-second: white;

  /* https://colorhunt.co/palette/867070d5b4b4e4d0d0f5ebeb */

  --light-first: #f5ebeb;
  --light-second: #867070;
  --light-third: #e4d0d0;
  --light-fourth: #d5b4b4;
  --light-color-first: white;
  --light-color-second: black;
}

/* ::-webkit-scrollbar{
  background: transparent;
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, var(--dark-first));
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--dark-third);
} */

.light-theme {
  background-color: var(--light-first);
}

.dark-theme {
  background-color: var(--dark-first);
}

#light {
  background-color: var(--light-first);
  height: 100vh;
}

#dark {
  background-color: var(--dark-first);
  height: 100vh;
}

#dark .my-btns {
  background-color: var(--dark-second);
  color: var(--dark-color-second);
}

#light .my-btns {
  background-color: var(--light-second);
  color: var(--light-color-first);
}

#dark .my-btns:hover {
  background-color: var(--dark-fourth);
  color: var(--dark-color-first);
}

#light .my-btns:hover {
  background-color: var(--light-fourth);
  color: var(--light-color-second);
}

#dark .my-nav {
  background-color: var(--dark-second);
  color: var(--dark-color-second);
}

#light .my-nav {
  background-color: var(--light-second);
  color: var(--light-color-first);
}

#dark .my-nav .navbar-nav .nav-item .nav-link,
.my-nav .navbar-nav .nav-item .nav-link {
  color: var(--dark-third);
}

#light .my-nav .navbar-nav .nav-item .nav-link,
.my-nav .navbar-nav .nav-item .nav-link {
  color: var(--light-third);
}

#dark .my-nav .navbar-nav .nav-item .nav-link:hover,
.my-nav .navbar-nav .nav-item .nav-link:focus {
  color: var(--dark-color-second);
}

#light .my-nav .navbar-nav .nav-item .nav-link:hover,
.my-nav .navbar-nav .nav-item .nav-link:focus {
  color: var(--light-color-first);
}

#dark .my-text-area {
  background-color: var(--dark-third);
  color: var(--dark-color-first);
  border: 2px solid var(--dark-color-second);
  font-weight: bold;
  letter-spacing: 1.1px;
}

#light .my-text-area {
  background-color: var(--light-third);
  color: var(--light-color-second);
  border: 2px solid var(--dark-color-second);
  font-weight: bold;
  letter-spacing: 1.1px;
}

#dark .my-text-area:focus {
  background-color: var(--dark-third);
  color: var(--dark-color-first);
  border: 2px solid var(--dark-color-second);
  box-shadow: none;
  outline: none;
}

#light .my-text-area:focus {
  background-color: var(--light-third);
  color: var(--dark-color-first);
  border: 2px solid var(--light-color-second);
  box-shadow: none;
  outline: none;
}

#dark .my-heading {
  color: var(--dark-fourth);
}

#light .my-heading {
  color: var(--light-second);
}

#dark .text-data {
  color: var(--dark-color-second);
  letter-spacing: 1.1px;
}

#light .text-data {
  color: var(--light-color-second);
  letter-spacing: 1.1px;
}

#dark .accordion-item .accordion-button {
  background-color: transparent;
  color: var(--dark-color-first);
}

#light .accordion-item .accordion-button {
  background-color: transparent;
  color: var(--light-color-second);
}

#dark .accordion-item .accordion-button:not(.collapsed) {
  color: var(--dark-color-second);
  background-color: var(--dark-first);
}

#light .accordion-item .accordion-button:not(.collapsed) {
  color: var(--light-color-second);
  background-color: var(--light-fourth);
}

#dark .accordion-item {
  background-color: var(--dark-third);
}

#light .accordion-item {
  background-color: var(--light-third);
}

#dark .accordion-button {
  background-color: var(--dark-first);
  border: 0px;
  color: var(--dark-color-second);
  border: 2px solid var(--dark-color-second);
}

#light .accordion-button {
  background-color: var(--light-first);
  border: 0px;
  color: var(--light-color-second);
  border: 2px solid var(--light-color-second);
}

#dark .accordion-button:focus {
  background-color: var(--dark-first);
  border: 0px;
  color: var(--dark-color-second);
  border: 2px solid var(--dark-color-second);
  outline: none;
  box-shadow: none;
}

#light .accordion-button:focus {
  background-color: var(--light-fourth);
  border: 0px;
  color: var(--light-color-second);
  border: 2px solid var(--light-color-second);
  outline: none;
  box-shadow: none;
}

#dark .accordion-body{
    border: 2px solid var(--dark-color-second);
}

#light .accordion-body{
    border: 2px solid var(--light-color-second);
}

#light .alert{
  color: var(--light-color-second);
}

#dark .alert{
  color: var(--light-color-first);
}

#dark #footer {
    font-family: "poppins";
    margin-bottom: 50px;
    text-align: center;
    color: var(--dark-color-second);
}

#dark .social-icon {
    padding: 20px 10px;
    font-size: 2rem;
    color: var(--dark-fourth);
}

#dark .social-icon:hover {
    color: var(--dark-second);
}

#dark #heart {
    color: var(--dark-fourth);
    padding: 5px;
}

#light #footer {
    font-family: "poppins";
    margin-bottom: 50px;
    text-align: center;
    color: var(--light-second);
}

#light .social-icon {
    padding: 20px 10px;
    font-size: 2rem;
    color: var(--light-second);
}

#light .social-icon:hover {
    color: var(--light-fourth);
}

#light #heart {
    color: red;
    padding: 5px;
}